<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}Titre par défaut!{% endblock %}</title>
       
    </head>
    <body>
        {% block content %}Contenu par défaut{% endblock %}
    </body>
</html>
